body,
html {
  background-color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.my-header {
  display: block;
  background-color: #202020;
  height: 60px;
}

.my-header .logo {
  display: inline-block;
  color: #fff;
  font-weight: 800;
  font-size: 36px;
}

.navigation {
  display: inline-block;
  background-color: transparent;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.navigation > a {
  color: black;
  font-weight: bold;
  border-bottom: 2px dotted black;
}

.hero-banner {
  background-color: cyan;
  background-image: url("/images/guitar-1.png");
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner {
  width: 1080px;
  margin: 0 auto;
}

.links {
  transition-duration: 0.5s;
}

.links:hover {
  color: red;
}

.links:active {
  color: black;
}

.footer {
  color: #fff;
  background-color: #202020;
  height: 140px;
}

/*ID has the highest specificity level, it always win*/
#guitar-page {
  background-color: gray;
}

#guitar-page h1 {
  color: black;
}

#about-page {
  background-color: gray;
}

.flexbox-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexitem {
  width: 1080px;
  margin: 10px;
}

.guitarPicture {
  min-height: 300px;
}

.viewguitar {
  min-height: 100px;
}

#view-guitar {
  background-color: grey;
}

.money {
  font-size: 36px;
  font-weight: bold;
}
